@use "home";
@use "config";
@use "mixins";


$initialColor: #161617;
$changedColor: #add8e6;

.about__home {
    @extend .start__home;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    &__section {
        display: flex;
        padding-top:50vh;
       
        width:62rem;
        & h2 {
            // color: $initialColor;
            font-size: 5rem;
            
        }
    }
}
#about__home__section h2 span {
    color: $initialColor;
    display: inline-block;
    @include config.transition-cubBez;
}
// .me {
//     background: 
//     #c7c7c7;
//     background-size: contain;
//     display: flex;
//     position: relative;
//     width: 450px;
//     height: 450px;
//     border-radius: 50%;
//     &__nobg {
//         content: "";
//         position: absolute;
//         display: flex;
//         background:
//         url(/img/resized_images/patrik-2-nobg.webp) center top;
//         background-size: contain;
//         width: 450px;
//         height: 450px;
//         top: 10%;
//         right: 10%;
//         border-radius: 50%;
//     }

    
// }