@use "home";
@use "config";
@use "mixins";
// @use 'style';

.contact__home {
  @extend .start__home;
  padding-top: unset;
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
  }

  &__form {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 450px;
    max-width: 75vw;

    @media only screen and (orientation: landscape) and (min-device-width: 375px) and (max-device-width: 812px) {
      height: unset;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start;
      height: 70vh;
      flex: 1;
      order: 1;
    }

    & input,
    textarea,
    button {
      border-radius: 12px;
      border-style: none;
      line-height: 1.23;
      &:focus {
        outline: config.$secondary-color 2px solid;
      }
    }

    & input, textarea {
      height: 3.29rem;
      width: 100%;
      padding: 1.558rem .94rem 0;
    }

    & label {
      margin-bottom: 0.5rem;
    }

    & label,
    input {
      display: flex;
      // margin-bottom: 1rem;
    }
    & legend,
    input {
      margin-bottom: 0.8rem;
    }
  }
  .form__message {
    order: 2;
  }
  textarea {
    height: unset;
    padding-top: 1.5rem;
  }
  .form__textbox{
    position: relative;

    .input__label {
      position: absolute;
      top:1.058rem;
      left: 1rem;
      color: config.$primary-color;
      line-height: 1.23;
      transition-timing-function: ease-in;
      transition-duration: .125s;
      font-size: 17px;
      letter-spacing: -.022rem;
      
    }
  }
  .form__textbox input:focus~.input__label, input:valid~.input__label, textarea:focus~.input__label {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -.01rem;
    top: .588rem;
  }
  @media only screen 
  and (orientation: landscape) 
  // and (min-device-width: 375px) 
  // and (max-device-width: 812px)
  // and (max-width:812px)
   {
    .form__message {
      display: flex;
      flex-direction: column;
      order: 2;
      align-self: flex-start;
      & > textarea {
        flex: 1;
        min-width: 10rem;
        padding: 0;
      }
    }


    legend {
      flex-basis: 100%;
    }
  }
.buttoncontainer {
  display: flex;
  order: 3;
  
}

  button {
    // position: relative;
    
    // height: 3.29rem;
    // width: 100%;
    // justify-items: center;
    // text-align: center;
    // align-items: center;
    // background-color: config.$primary-color;
    // color: white;
    // border: solid white 1px;
    @include mixins.button;
  }
}
